/* Combine Selectors Syntax rule */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

/* Element Selector Syntaqx */
h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  font-family: sans-serif;
}

/* footer p {
  font-size: 14px;
} */

/* article header p {
  font-style: italic;
} */

/* ID SELECTOR SYNTAX RULE IN CSS */

#author-info {
  font-style: italic;
  font-size: 18px;
}

#footer-style {
  font-size: 16px;
}

/* class SELECTOR SYNTAX RULE IN CSS */
.related-post {
  font-size: 16px;
  color: brown;
  font-weight: bold;
  text-decoration: underline;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}
